h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;

}

.p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue
}

.p2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue
}